<div class="container-fluid bg-dark py-5">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">

        <a href="https://www.facebook.com/frankie.chavez.585">
          <img class="mx-2" src="../../assets/images/facebook.png" alt="facebook">
        </a>

        <a href="https://www.linkedin.com/in/francisco-chavez-5a2b53115">
          <img class="mx-2" src="../../assets/images/linkedin.png" alt="linkedin">
        </a>

        <a href="https://github.com/franciscoJ-chavez3">
          <img class="mx-2" src="../../assets/images/github.png" alt="github">
        </a>

      </div>
      <h5 class="text-center text-white my-3">Francisco Chavez 2020</h5>
    </div>
  </div>
</div>