.legoImg {
  background-image: url("../../assets/images/legoHomePage.jpg");

  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordFont{
  font-size: 40px;
  max-height: 400px;
  max-width: 800px;
}