<div class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center mt-5">
          <img class="aboutImg rounded" src="assets/images/headShot2Re.jpg" alt="headshot">
        </div>
      </div>
      <div class="col">
        <div>
          <p class="aboutFont d-flex justify-content-center mt-5">
            My name is Francisco Javier Chavez III, but I prefer to be called Frankie for short. I enjoy reading
            classical
            and modern fiction, watching baseball, and expanding my musical palette.
            I want to learn new things, be exposed to new ways of thinking, and challenged to be creative.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="assets/images/puzzle.png" alt="puzzle">
          <div class="pt-3">
            <h5 class="text-center">Ingenuity</h5>
            <p class="text-center">From the design of the user interface to the code working in the background, I strive
              for the intersection
              of creativity and intuition</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="assets/images/responsive.png" alt="mobile">
          <div class="pt-3">
            <h5 class="text-center">Responsive</h5>
            <p class="text-center">Today, we have more kinds of screens than ever before, which is why I build websites
              with the flexibility
              to format itself on any device</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="assets/images/readibility.png" alt="read">
          <div class="pt-3">
            <h5 class="text-center">Intelligible</h5>
            <p class="text-center">I make it a point to make my code not just functional but readable as well, being
              clear
              means writing code
              that machines and humans can understand</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>