<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center mt-5" style="font-size:50px;">About Me</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mt-5">
        <img class="rounded" style="height:400px; width:400px;" src="../../assets/images/headShot2Re.jpg" alt="">
      </div>
    </div>
    <div class="col">
      <div>
        <p class="d-flex justify-content-center text-center mt-5"
          style="font-size:30px; height:400px; max-width:475px;">
          My name is Francisco Javier Chavez III, but I prefer to be called Frankie for short. I enjoy reading classical
          and modern fiction, watching baseball, and expanding my musical palette. <br>
          I want to learn new things, be exposed to new ways of thinking, and challenged to be creative.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="../../assets/images/puzzle.png" alt="puzzle">
        <div>
          Description
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="../../assets/images/responsive.png" alt="mobile">
        <div>
          Description
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <img src="../../assets/images/readibility.png" alt="read">
        <div>
          Description
        </div>
      </div>
    </div>
  </div>
</div>