<div class="container-fluid sidenav">
  <nav id="myNav" class="navbar navbar-light mb-3">
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler bg-primary" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon bg-primary"></span>
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav bg-dark rounded-circle  d-flex flex-column ">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link text-white text-center" href="#home" (click)="isMenuCollapsed = true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-center" href="#about" (click)="isMenuCollapsed = true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-center" href="#skills" (click)="isMenuCollapsed = true">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-center" href="#projects" (click)="isMenuCollapsed = true">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-center" href="#contact" (click)="isMenuCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>