<div class="container-fluid smoke py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="m-5 text-center text-white">Skills</h1>
        <div class="card border border-white">
          <h5 class="card-header text-center">Technologies</h5>
          <div class="card-body">
            <div class="d-flex flex-wrap justify-content-center">
              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/cSharp.png" alt="C# img">
                <p class="text-center font-weight-bolder">C# (Sharp)</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/html5.png" alt="html5 img">
                <p class="text-center font-weight-bolder">HTML</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/css3.png" alt="css3 img">
                <p class="text-center font-weight-bolder">CSS</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/bootstrap.png" alt="bootstrap img">
                <p class="text-center font-weight-bolder">Bootstrap</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/jsIcon.png" alt="javascript img">
                <p class="text-center font-weight-bolder">Javascript</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/typescript.png" alt="Typescript img">
                <p class="text-center font-weight-bolder">Typescript</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/angular.png" alt="Angular img">
                <p class="text-center font-weight-bolder">Angular</p>
              </div>

              <div class="m-5 d-flex flex-column justify-content-center">
                <img src="assets/images/vscode.jpg" alt="vscode img">
                <p class="text-center font-weight-bolder">VS Code</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>