<div class="container-fluid bg-light">
  <div class="container py-5">
    <h1 class="text-center">Projects</h1>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Hamster Hotel</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/hamster" class="btn btn-primary">Project 1</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Puppy Restaurant</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/puppy" class="btn btn-primary">Project 2</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Trivia Game</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/friends" class="btn btn-primary">Project 3</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Business Redevelopment</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/church
              " class="btn btn-primary">Project 4</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Weather App</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/castform" class="btn btn-primary">Project 5</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Webstore</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/webStore" class="btn btn-primary">Project 6</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Utilities</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/utilitiesApp.zip" class="btn btn-primary">Project
                7</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="assets/images/placeholder.png" class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">Deal or No Deal</h5>
              <a href="http://fchavez.azurewebsites.net/otherProjects/DealOrNoDealApp.zip"
                class="btn btn-primary">Project 8</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>